.team-card-container {
    background: #ffffff;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    color: #000000;
    position: relative;
    z-index: 1;
}

.team-card-left-part,
.team-card-right-part {
    flex: 1;
    padding: 15px;
}

.team-card-head-left-part {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.team-card-head-right-part {
    width: 50%;
}

.person-image {
    background: url("../../assets/images/team-card/янина-новикова.png");
    background-size: cover;
}

.team-card-header {
    font-size: 3.6vw;
}

.team-card-info {
    padding: 100px 15px 200px;
}

.team-card-right-part{
    padding: 5px 15px;
}

.team-card-info > p {
    margin: 0;
    text-align: justify;
}

.team-card-info > h4 {
    margin-top: 0;
}

.direction-container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.direction-container > h4 {
    margin-bottom: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0 50px;
}

#close-area {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: none;
    outline: 0;
}

@media (max-width: 1500px) {
    .rev-button {
        width: 100% !important;
    }
}


@media screen and (max-width: 450px) {

    body {
        font-size: 16px;
    }

    .team-card-header {
        font-size: 32px;
        margin: 50px 0 0 !important;
    }

    .rev-block {
        padding: 0;
        margin: 15px 0 !important;
        width: 100%;
    }

    .team-card-head-right-part {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }

    .team-card-head-left-part {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .team-card-info {
        padding: 0 15px 50px;
    }

    .team-card-container {
        padding: 0;
        flex-direction: column-reverse;
    }

    .team-card-info > h4 {
        display: none;
    }

    .contacts-description {
        padding: 10px;
        text-align: center;
    }

    .direction-container {
        margin-top: 50px;
    }

    .arrow-block {
        display: none;
    }

    .burger-block {
        display: none;
    }

    .menu-label-block {
        width: 100%;
        height: 100px;
        min-height: 0;
        position: unset;
    }

    .menu-label {
        transform: rotate(0);
        color: white;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: unset;
    }

    .menu-icon {
        position: unset;
    }

    .menu-icon .bar {
        margin-top: 0;
        background: black;
    }

    .person-image {
        min-height: 70vh;
    }

}
