@font-face {
    font-family: helvetica;
    src: url(fonts/HelveticaNeueCyr-Light.otf);
}

* {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: helvetica;
}

ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    /*width: 1280px;*/
    width: 100%;
    /*padding-top: 135px;*/
    padding: 0 10%;
    background-color: white;
}

.list-container > ul > li {
    position: relative;
    margin-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
    /*white-space: nowrap;*/
    font-size: 16pt;
}

.list-item {
    line-height: 50px;
    text-transform: uppercase;
    flex: 1;
    padding-left: 15px;
    min-width: 650px;
}

.list-content {
    flex: 1;
    padding-left: 15px;
    min-width: 650px;
}

.list-content > form > input,
.list-content > form > button {
    display: block;
}

.list-option {
    position: relative;
    /*padding-bottom: 30px;*/
    line-height: 80px;
}

.list-option-title {
    position: relative;
    /*left: 50px;*/
    margin-left: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-option-title:before {
    position: absolute;
    content: "";
    top: -10px;
    left: -70px;
    background: url(assets/icons/Black/unchecked.png);
    width: 42px;
    height: 42px;
}

.list-option input {
    cursor: pointer;
}

.list-option input[type="checkbox"]:checked + .list-option-title:before {
    background: url(assets/icons/Black/checked.png);
}

.checkmark {
    visibility: hidden;
}

.input-text-field {
    max-width: 350px;
    width: calc(100% - 75px);
    height: 50px;
    background-color: lightgray;
    border: none;
    font-size: 14pt;
    padding: 0 30px 0 30px;
    margin-bottom: 10px;
}

.long-input-field {
    width: calc(100% - 75px);
    max-width: 450px;
}

.input-textarea {
    max-width: 450px;
    width: calc(100% - 75px);
    height: 190px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: 14pt;
    background-color: lightgray;
    resize: none;
}

.mesurement {
    margin-left: 20px;
}

.order-button {
    width: 190px;
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    background: black;
    color: white;
    font-size: 16px;
    border: none;
}

.price-field {
    position: relative;
    font-size: 36pt;
    z-index: 1;
}

.price {
    padding-left: 10px;
    font-weight: bolder;
    white-space: nowrap;
}

.example-button {
    position: absolute;
    /*left: 44px;*/
    left: 0;
    bottom: -20px;
    font-size: 12pt;
    color: #CDA173;
    border: none;
    background-color: white;
}

.example-button:before {
    margin-right: 8px;
    content: url(assets/icons/Black/example-button-arrow.png);
}

.underline {
    position: absolute;
    bottom: 2px;
    /*left: 0;*/
    width: 180px;
    height: 15px;
    background-color: #CDA173;
    z-index: -1;
}

.small-padding-top {
    padding-top: 18px;
}

.bold {
    font-weight: bolder;
}

/*MYSTYLES*/

.info-block {
    top: 0 !important;
    margin-top: 80px;
}

.menu-label-block {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 10%;
    /*top: 50%;*/
    z-index: 99;
    min-height: calc(100vh - 212px);
    text-transform: uppercase;
}

.first-monitor {
    background: #ffffff;
    min-height: calc(100vh - 210px);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    color: #000000;
    position: relative;
    z-index: 1;
}

.welcome-info {
    height: calc(100% - 200px);
    border: none;
}

.burger {
    margin: 20px 0;
    height: 70px;
    background: url("assets/logos/Zrobym_logo_Black.svg") no-repeat;
    background-position: center center;
}

.arrow {
    background: url(assets/icons/Black/arrow-grey.svg) no-repeat;
    min-height: 40px;
    width: 66px;
}

.left-part-about {
    top: 0;
}

.rev-block {
    max-width: 90%;
}

@media screen and (max-width: 850px) {
    .welcome-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    li {
        display: flex;
        /*justify-content: center;*/
        align-items: center;
    }

    .list-container {
        padding: 0 30px;
    }

    /*.list-item,*/
    /*.list-content,*/
    /*.list-option {*/
    /*	justify-content: center;*/
    /*	align-items: center;*/
    /*	display: flex;*/
    /*}*/
    .list-content {
        justify-content: start;
        width: 100%;
    }

    .list-item {
        line-height: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .list-content {
        flex-direction: column;
    }

    .list-options {
        margin-top: 10px;
    }

    .list-option {
        left: -20px;

        /*margin-bottom: 15px;*/
    }

    .list-option-title {
        display: flex;
        /*line-height: 50px;*/
        line-height: 20px;
        /*width: 60%;*/
        padding-bottom: 40px;
    }

    .list-option-title:before {
        position: absolute;
        /*top: 0px;*/
        top: -13px;
        left: -50px;
    }

    .example-button {
        /*left: 0px;*/
        bottom: 25px;
    }

    .list-container > ul > li {
        font-size: 12pt;
        white-space: normal;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .long-input-field {
        width: 90%;
    }

    .input-text-field {
        /*width: 200px;*/
        /*height: 30px;*/
        width: 90%;
        /*text-align: center;*/
    }

    .sizes {
        display: flex;
        flex-direction: row;
    }

    .price-field {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30pt;
    }

    .list-content > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-textarea {
        width: 90%;
        height: 100px;
    }
}

@media screen and (max-width: 1280px) {
    /*.list-container {*/
    /*    padding: 0 50px;*/
    /*}*/
}
