.office-page {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -110px;
}

.office-header {
    font-size: 3.6vw;
    margin-bottom: 10px;
}

.office-page-left-part {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.office-page-right-part {
    height: 180vh;
    display: flex;
    flex: 1;
    position: relative;
}

.office-container {
    height: 90vh;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    position: relative;
    z-index: 1;
    margin-left: 20%;
}

.office-left-part {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 40px 15px 15px;
}

.office-right-part {
    width: 50%;
    padding: 15px;
}

.address {
    margin-top: 180px;
}

.address span {
    font-family: "Muller Medium";
}

.photo-container {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.photo-container > img {
    width: 100%;
    height: auto;
}

.photo-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}


@media (max-width: 850px) {
    .right-corner-pic {
        display: none;
    }
}

@media (max-width: 450px) {

    body {
        font-size: 16px;
    }

    .office-header {
        font-size: 32px;
    }

    .office-page {
        flex-direction: column;
        top: 0 !important;
    }

    .office-left-part {
        padding: 0 15px 15px 15px !important;
    }

    .office-container {
        height: auto;
        padding-top: 20px;
        margin: 0;
        text-align: justify;
    }

    .office-header {
        font-size: 32px;
        margin: 50px 0 0 !important;
    }

    .rev-block {
        padding: 0;
        margin: 15px 0 !important;
        width: 100%;
    }

    .address {
        margin-top: 40px;
        text-align: center;
    }

    .photo-container {
        flex-direction: row;
        height: unset;
    }

    .photo-container > img {
        width: auto;
        height: 70vh;
    }
}
