main {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.left-line, .right-line {
    z-index: 4;
}

ul {
    list-style: none;
}

.portfolio-container {
    background: #ffffff;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    color: #000000;
    position: relative;
    z-index: 1;
}

.portfolio-left-part {
    flex: 1;
    padding-top: 80px;
}

.portfolio-right-part {
    flex: 1;
    padding: 240px 0 150px;
}

.portfolio-description {
    display: flex;
    flex-direction: column;
    padding: 0 70px 0 15px;
}

.portfolio-header {
    font-size: 3vw;
}

.categories {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 40px 10%;
    outline: 1px solid #e5e5e5;
    position: relative;
    z-index: 3;
    background-color: white;
    display: flex;
    align-items: center;
}

.categories > input[type="radio"] {
    visibility: hidden;
}

.categories > input[type="radio"]:checked + label {
    color: black;
}

.categories > label {
    color: #AFAFAF;
    cursor: pointer;
}

.year-label {
    font-family: "Muller ExtraBold";
    position: relative;
    margin: 100px 0px 50px 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.project {
    flex: 1;
    z-index: 4;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    outline: #e5e5e5 1px solid;
    background-color: #ffffff;
}

.project > img {
    width: 100%;
    height: auto;
}

.project-title {
    font-family: "Muller Medium";
    font-size: 1.2vw;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description {
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px;
    z-index: 3;
    outline: #e5e5e5 1px solid;
    background-color: #ffffff;
    position: relative;
}

.pagination-container > label {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    color: #C2C2C2;
}

.pagination-container > label:last-child {
    padding-right: 8px;
}

.pagination-container > label > .checkmark {
    position: absolute;
    top: -12px;
    left: -0.5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #C2C2C2;
    transition: 0.3s;
}

.pagination-container > input[type="radio"] {
    visibility: hidden;
}

.pagination-container > input[type="radio"]:checked + label > .checkmark {
    top: -15px;
    left: -1.5px;
    width: 12px;
    height: 12px;
    background-color: #CDA174;
}

.pagination-container > input[type="radio"]:checked + label {
    color: #CDA174;
}

.interests-container {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    justify-content: center;
    background-color: #ECECEC;
    z-index: -1;
}

.interests-left-part {
    padding-top: 80px;
    flex: 1;
}

.interests-right-part {
    padding-top: 180px;
    flex: 1;
}

.interests-description {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.interest-mark {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BABABA;
    border: 2px solid #BABABA;
}

.interest-text {
    font-family: "Muller Medium";
    width: 300px;
    height: 50px;
    font-size: 12px;
    border: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bolder {
    font-weight: bolder;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    font-size: 36pt;
}

.underline {
    position: absolute;
    bottom: -15px;
    width: 82px;
    height: 8px;
    background-color: #CDA173;
    z-index: -1;
}

#close-area {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: none;
    outline: 0;
}

@media (max-width: 1500px) {
    .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .rev-button {
        width: 100% !important;
    }
}

@media (max-width: 1100px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    main {
        padding: 0;
    }

    .rev-block {
        width: 100%;
        padding: 0;
        margin: 15px 0;
    }

    .portfolio-header {
        font-size: 32px;
        margin: 50px 0 0 !important;
    }

    .portfolio-container, .interests-container, .buttons-container {
        padding: 0 !important;
        flex-direction: column;
    }

    .portfolio-left-part, .interests-left-part {
        padding: 0;
        display: contents;
    }

    .portfolio-right-part, .interests-right-part {
        padding: 0;
    }

    .portfolio-description {
        padding: 0 15px;
        text-align: justify;
    }

    .interests-description {
        padding: 35px 15px;
        text-align: justify;
    }

    .project-title {
        font-size: 22px;
    }

    .project-description {
        font-size: 16px;
    }

    .more-button {
        margin-bottom: 25px;
    }

    .arrow-block {
        display: none;
    }

    .categories {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .pagination-container {
        padding: 50px 0;
    }

    .year-label {
        margin-top: 50px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .buttons-container {
        align-items: center;
    }

    .burger-block {
        display: none;
    }

    .first-monitor h1 {
        padding-top: 0;
    }

    .menu-label-block {
        width: 100%;
        height: 100px;
        min-height: 0;
        position: unset;
    }

    .menu-label {
        transform: rotate(0);
        color: white;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: unset;
    }

    .menu-icon {
        position: unset;
    }

    .menu-icon .bar {
        margin-top: 0;
        background: black;
    }
}
