.big-padding-top {
    padding-top: 220px;
}

.medium-padding-top {
    padding-top: 110px;
}

.team-header {
    position: relative;
    font-family: "Muller ExtraBold";
    font-size: 45px;
    padding: 150px 0 0 20px;
}

.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
    height: fit-content;
}

.person {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border: #e5e5e5 1px solid;
    font-family: "Muller Light";
    z-index: 3;
    background: white;
}

.person > img {
    height: auto;
    width: 300px;
}

.person-name {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Muller Medium";
}

.person-position {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.see-requirements-button {
    margin: 40px 0 150px 0;
    background-color: #ECECEC;
    border: none;
}

.header3 {
    font-size: 18px;
}

@media (max-width: 450px) {
    .big-padding-top {
        padding-top: 40px;
    }

    .medium-padding-top {
        padding-top: 40px;
    }

    .team-header {
        padding-top: 10px;
        padding-left: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

    .team-header > .underline {
        z-index: 0;
        width: 180px;
    }

    .rev-block {
        padding: 0 0 20px 0;
    }

    #interesting-header {
        font-size: 30px;
        padding-top: 40px;
    }

    .see-requirements-button {
        margin-bottom: 50px;
    }
}
