main {
    padding-top: 250px;
}

.team-page-container {
    background: #ffffff;
    padding: 0 10%;
    display: flex;
    color: #000000;
    position: relative;
    z-index: 1;
}

.team-page-header {
    font-size: 3vw;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
    font-family: "Muller ExtraBold";
    font-weight: 500;
}

.team-page-left-part {
    padding-top: 80px;
    flex: 1;
}

.team-page-right-part {
    padding: 300px 0 100px;
    flex: 1;
}

.team-page-description {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.medium-padding-top {
    padding-top: 110px;
}

.persons-container {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
    /*height: fit-content;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-columns: repeat(auto-fill, 100px);*/
    /*grid-gap: 1rem;*/
    justify-content: space-between;
}

.persons-container::after {
    clear: both;
}

.person {
    /*max-width: 500px;*/
    /*min-width: 300px;*/
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: #e5e5e5 1px solid;
    font-family: "Muller Light";
    z-index: 3;
    background: white;
}

.person > img {
    transition: opacity 0.2s linear;
    width: 100%;
    height: auto;
    /*width: 300px;*/
}

.image-colored {
    position: absolute;
}

.hidden {
    opacity: 0;
}

.person-name {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Muller Medium";
}

.person-position {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.see-requirements-button {
    display: block;
    color: #000;
    margin: 40px 0 150px 0;
    font-family: "Muller Medium";
    cursor: pointer;
}

@media (max-width: 1500px) {
    .persons-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    .persons-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .big-padding-top {
        padding-top: 40px;
    }

    .medium-padding-top {
        padding-top: 40px;
    }

    .persons-container {
        grid-template-columns: 1fr;
    }

    main {
        padding: 0;
    }

    .rev-block {
        width: 100%;
        padding: 0;
        margin: 15px 0;
    }

    .team-page-header {
        font-size: 24px;
        margin: 50px 0 0 !important;
    }

    .team-page-container {
        padding: 0 !important;
        flex-direction: column;
    }

    .team-page-left-part {
        padding: 0;
        display: contents;
    }

    .team-page-right-part {
        padding: 0;
    }

    .team-page-description {
        padding: 0 15px;
        text-align: justify;
    }

    .see-requirements-button {
        text-align: center;
        margin: 40px 0;
    }
}
