main {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

main .information-container:nth-child(2) {
    margin-top: 200px;
}

.video-container {
    height: 100vh;
}

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 0;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.burger-block {
    flex: 1;
    justify-content: center;
    height: 15%;
}

.arrow-block {
    height: 15%;
    position: relative;
    /*min-height: 100px;*/
}

.arrow-block img {
    width: 5vw;
}

.posadochnaya-header {
    font-size: 3vw;
}

.information-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.information-left-part {
    flex: 1;
    padding-top: 5vw;
}

.information-right-part {
    flex: 1;
    padding-top: 15vw;
}

.information-description {
    padding: 15px;
}

.project {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.project:nth-child(2n) {
    flex-wrap: wrap-reverse;
}

.project:nth-child(2n - 1),
.project:nth-child(6) {
    flex-wrap: wrap;
}

.project-image {
    display: flex;
    justify-content: space-around;
    flex: 1;
    min-width: 300px;
}

.project-image > img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.empty-right-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10%
}

.empty-left-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10% 200px;
}

.left-part-empty, .right-part-empty {
    flex: 1;
}

.buttons-wrapper {
    padding: 0 30px 0 50px
}

#map {
    height: 500px;
    background-image: url(assets/map.png);
    background-position: center;
    background-size: cover;
}

#map span:nth-child(2) {
    z-index: 0;
}

.project-description-container {
    display: flex;
    flex-direction: column;
}

.project-description-container div:nth-child(1) {
    margin-bottom: 20px;
    font-family: "Muller ExtraBold";
}

.project-description-container div:nth-child(2) {
    margin-bottom: 30px;
}

.project-description {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.space-description {
    width: 20%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0 8vw;
}


.more-projects-text {
    width: 47%;
}

.project-last-button {
    padding-top: 100px;
}

.bolder {
    font-weight: bolder;
}

.uppercase {
    text-transform: uppercase;
}

.header1 {
    font-size: 3vw;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
    font-family: "Muller Medium";
    font-weight: 500;
}

.header3 {
    font-family: "Muller Medium";
    font-size: 1.4vw;
}

.normal-wrap {
    white-space: normal;
}

#close-area {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: none;
    outline: 0;
}

@media (max-width: 1500px) {
    .rev-button {
        width: 100% !important;
    }
}

@media (max-width: 450px) {

    .video-container{
        display: block;
    }

    main {
        padding: 0;
    }

    .header1 {
        font-size: 20px;
    }

    body, .header3 {
        font-size: 16px;
    }

    .posadochnaya-header {
        font-size: 32px;
    }

    .rev-block {
        padding: 0;
        margin: 15px 0 !important;
        width: 100%;
    }

    .space-description {
        display: none;
    }

    .project {
        margin: 0;
    }

    .information-container,
    .empty-right-part,
    .empty-left-part {
        flex-direction: column;
        padding: 0 !important;
        margin: 0 !important;
    }

    .information-right-part {
        flex-direction: column;
        padding: 0;
    }

    .information-right-part p {
        text-align: justify;
    }

    .information-left-part, .interests-left-part {
        padding-top: 40px !important;
        flex-direction: column;
    }

    .project-description-container, .more-projects-text {
        padding: 15px 15px 0 !important;
        width: 100% !important;
    }

    .project-last-button, .buttons-wrapper {
        padding: 0 15px;
    }

    .last {
        display: block;
        text-align: justify;
    }

    .arrow-block {
        display: none;
    }

    .burger-block {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
    }

    .menu-label-block {
        width: 100%;
        position: absolute;
        align-items: flex-start;
    }

    .menu-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-indent: 100%;
        overflow: hidden;
    }

    .menu-icon {
        position: unset;
    }
}

.video-content {
    min-height: calc(100vh - 30%);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.video-content-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #ffffff !important;
    justify-content: center;
}
