/*GLOBAL*/

@font-face {
    font-family: "Muller Black";
    src: url("../assets/fonts/Muller/Muller-Black.otf") format("opentype");
}

@font-face {
    font-family: "Muller Bold";
    src: url("../assets/fonts/Muller/Muller-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Muller ExtraBold";
    src: url("../assets/fonts/Muller/Muller-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Muller Heavy";
    src: url("../assets/fonts/Muller/Muller-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "Muller Light";
    src: url("../assets/fonts/Muller/Muller-Light.otf") format("opentype");
}

@font-face {
    font-family: "Muller Medium";
    src: url("../assets/fonts/Muller/Muller-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Muller Regular";
    src: url("../assets/fonts/Muller/Muller-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Muller Thin";
    src: url("../assets/fonts/Muller/Muller-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Muller UltraLight";
    src: url("../assets/fonts/Muller/Muller-UltraLight.otf") format("opentype");
}

/*SCROLL STYLING*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #cda173;
    border-radius: 10px;
}

/*GLOBAL STYLING*/

html, body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    font-family: "Muller Light";
    z-index: 0;
}

.anim-about {
    position: relative;
    top: -5%;
}

.anim-about-black {
    position: relative;
    top: 0%;
}

.anim-philosophy {
    position: relative;
    top: 30%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
}

p {
    font-family: "Muller Light";
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1, h2, h3, h4, h5,
.header-label,
.philosophy-left-block-header,
.chief-link {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, .more-button, .map-header-label {
    font-family: "Muller Regular";
}

#about-header,
#about-black-header,
#panel-header,
#philosophy-header,
#team-block-header,
#footer-header,
#interesting-header,
#map-header,
#office-header,
#welcome-header {
    font-family: "Muller ExtraBold";
    font-size: 3.5vw;
}

.light-font {
    font-family: "Muller Light";
}

.center-line {
    position: fixed;
    min-height: 100%;
    margin: 0;
    left: 50%;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 1px;
    height: 100%;
    z-index: 2;
}

.left-line {
    position: fixed;
    min-height: 100%;
    margin: 0;
    left: 10%;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 1px;
    height: 100%;
    z-index: 2;
}

.right-line {
    position: fixed;
    min-height: 100%;
    margin: 0;
    right: 10%;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 1px;
    height: 100%;
    z-index: 2;
}

.circle {
    position: absolute;
    width: calc(80% - 3px);
    left: 10%;
    margin: 1em auto;
    border: 1px #e5e5e5 solid;
    border-radius: 50%;
}

.circle::before {
    content: "";
    display: inline-block;
    display: -moz-inline-stack;
    vertical-align: middle;
    padding-top: 100%;
}

.arrow-animate {
    animation: animation-arrow 1s forwards infinite; /* add "forwards" here to stop the animation at end-frame */
}

@keyframes animation-arrow {
    /* You can use percent to target steps during your animation:
       here it moves to the center at 10% animation duration and gets bigger    at 100 % animation duration
     */
    66% {
        top: 5px;
    }
    100% {
        top: 0;
    }
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 16px;
    display: flex;
}

.link {
    stroke: #ccc;
}

.facebook-icon-black {
    width: 0.7vw !important;
    /*margin-left: 10px;*/
    /*width: 12px;*/
    transition: 0.3s linear;
    /*cursor: pointer;*/
    /*background: url("../assets/icons/Black/Facebook.svg") no-repeat;*/
}

.instagram-icon-black {
    /*margin-left: 10px;*/
    /*width: 20px;*/
    transition: 0.3s linear;
    /*cursor: pointer;*/
    /*background: url("../assets/icons/Black/Instagram.svg") no-repeat;*/
}

.behance-icon-black {
    width: 1.7vw !important;
    /*width: 20px;*/
    transition: 0.3s linear;
    /*cursor: pointer;*/
    /*background: url("../assets/icons/Black/Behance.svg") no-repeat;*/
}

.youtube-icon-black {
    width: 1.7vw !important;
    /*margin-left: 10px;*/
    /*width: 30px;*/
    transition: 0.3s linear;
    /*cursor: pointer;*/
    /*background: url("../assets/icons/Black/YouTube.svg") no-repeat;*/
}

.vk-icon-black {
    width: 1.8vw !important;
    /*margin-left: 10px;*/
    /*width: 30px;*/
    transition: 0.3s linear;
    /*cursor: pointer;*/
    /*background: url("../assets/icons/Black/VK.svg") no-repeat;*/
}

.facebook-icon-white {
    transition: 0.3s linear;
    cursor: pointer;
}

.facebook-icon-white:hover, .facebook-icon-black:hover {
    transform: scale(1.2);
}

.instagram-icon-white {
    transition: 0.3s linear;
    cursor: pointer;
}

.instagram-icon-white:hover, .instagram-icon-black:hover {
    transform: scale(1.2);
}

.behance-icon-white {
    transition: 0.3s linear;
    cursor: pointer;
}

.behance-icon-white:hover, .behance-icon-black:hover {
    transform: scale(1.2);
}

.youtube-icon-white {
    transition: 0.3s linear;
    cursor: pointer;
}

.youtube-icon-white:hover, .youtube-icon-black:hover {
    transform: scale(1.2);
}

.vk-icon-white {
    transition: 0.3s linear;
    cursor: pointer;
}

.vk-icon-white:hover, .vk-icon-black:hover {
    transform: scale(1.2);
}

/*HEADER*/

.video-container {
    height: 100vh;
}

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 0;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.burger-block {
    flex: 1;
    justify-content: center;
    height: 15%;
}

.arrow-block img {
    width: 5vw;
}


.video-content {
    min-height: calc(100vh - 30%);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.video-content-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #ffffff !important;
    justify-content: center;
}


.burger-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    position: relative;
    z-index: 1;
}

.burger-black {
    margin: 20px 0;
    height: 70px;
    background: url("../assets/logos/Zrobym_logo_Black.svg") no-repeat;
    background-position: center center;
}

.burger-white {
    margin: 20px 0;
    height: 70px;
    background: url("../assets/logos/Zrobym_logo_White.svg") no-repeat;
    background-position: center center;
}

.background-image-mobile {
    display: none;
}

/*WELCOME-BLOCK*/

.background-image {
    background: url("../assets/images/zrobym_Index_First-Screen.gif") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    z-index: 1;
    background-position: 50% 50%;
}

.background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 0;
}

.welcome-info {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
}

.menu-label-block {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-height: 100vh;
    text-transform: uppercase;
    z-index: 99;
}

.menu-label {
    font-family: "Muller Medium";
    transform: rotate(270deg);
    font-size: 20px;
    cursor: pointer;
    color: #cda173;
}

.menu-white-bg {
    background: #FFFFFF !important;
}

.menu-white-color {
    color: #FFFFFF !important;
}

.menu-icon {
    position: absolute;
    transition: all 0.4s cubic-bezier(.5, 0, 0, 1);
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    transform: rotate(90deg);
    top: -5px;
    right: -36px;
}

.menu-icon .bar {
    display: block;
    transition: all 0.4s cubic-bezier(.5, 0, 0, 1);
    position: absolute;
    width: 3px;
    margin-top: -20px;
    background: #cda173;

}

.n1 {
    margin-left: 0;
    height: 30px;
    top: 5px;
}

.n2 {
    margin-left: 12px;
    height: 40px;
}

.n3 {
    margin-left: 24px;
    height: 30px;
    top: 5px;
}

.menu-label-block:hover .bar.n3,
.menu-label-block:hover .bar.n1,
.menu-label-block.click .bar.n3,
.menu-label-block.click .bar.n1 {
    margin-left: 12px;
}

.background-content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    z-index: 1;
    width: 80%;
}

.small-label {
    padding: 0 20px;
}

.arrow-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 15%;
}

.arrow {
    position: relative;
    top: 0;
    z-index: 99;
}

.arrow-grey {
    background: url(../assets/icons/Black/arrow-grey.svg) no-repeat;
    min-height: 40px;
    width: 66px;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    transition: all 2s linear;
    top: 0;
    margin: 10px;
    z-index: 99;
}

.language {
    position: absolute;
    width: 10%;
    right: 0;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s linear;
}

.language:hover {
    color: #cda173;
}

/*ABOUT*/
.about-container {
    height: 50vw;
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
    justify-content: space-between;
}

.left-part-about {
    flex: 1;
    padding-top: 5vw;
    position: relative;
}

.right-part-about {
    padding-top: 22vw;
    flex: 1;
}

.right-part-about .info-block {
    max-width: 780px;
    position: relative;
    /*top: 335px;*/
    z-index: 3;

    padding: 15px;
    transition: 0.3s linear;
}

.more-button {
    padding-top: 25px;
    color: rgb(205, 161, 115);
    cursor: pointer;
}

.more-text {
    margin: 0;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
}

.more-text.open {
    max-height: 500px;
    transition: max-height 1s ease-in;
}

.services-block {
    margin: 0 10%;
    padding: 50px 20px;
    position: relative;
}

.services-li {
    margin: 10px 0;
    line-height: 30px;
}

/*MAP*/
.black-background {
    background-color: #1b1b1b;
    color: #ffffff;
}

.black-background .header-label {
    margin-top: 0;
}

.map-container {
    color: #ffffff;
    background-color: #1b1b1b;
    margin: 0 10% 0 10%;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.map {
    position: relative;
    z-index: 9999;
}

.map-header-label {
    margin: 0;
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 15px;
}

.map-header-label:after {
    background-color: #cda173;
    width: 140px;
    content: '';
    height: 3px;
    display: block;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

/*TABS*/
.tabs {
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    background: #efefef;
    box-shadow: 0 48px 80px -31px rgba(0, 0, 0, 0.3);
    /*border-top: #c69c70 2px solid;*/
}

.input {
    position: absolute;
    opacity: 0;
}

.label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 1vw;
    color: #000000;
    transition: background 0.1s, color 0.1s;
}

.label:hover {
    background: #d8d8d8;
}

.label:active {
    background: #ccc;
}

.label:first-of-type {
    margin-left: 10%;
    border-left: #e5e5e5 1px double;

}

.label:last-of-type {
    margin-right: 10%;
    border-right: #e5e5e5 1px double;
}

.input:checked + .label {
    background: #fff;
    color: #000;
    border-bottom: 2px black solid;
}

.panel {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    background-size: cover;
    color: white;
    /*padding: 0 10% 0 10%;*/
}

.left-part-slide {
    flex: 1;
    padding-left: 10%;
    padding-top: 10vw;
}

.left-part-slide .header-label {
    margin-top: 20%;
}

.left-part-slide .header-label:after {
    background-color: #cda173;
    width: 135px;
    content: '';
    height: 8px;
    display: block;
    position: absolute;
    bottom: 5px;
    opacity: 0.8;
    z-index: 2;
}

.right-part-slide {
    flex: 1;
    background-color: black;
    opacity: 0.8;
    padding-right: 10%;
    display: flex;
    align-items: center;
}

.right-part-slide .info-block {
    padding-left: 40px;
    padding-right: 10%;
    max-width: 780px;
}

.white-border-button-block {
    margin-top: 50px;
    cursor: pointer;
    transition: 1s ease-in;
}

.white-border-button {
    color: #ffffff;
    text-transform: uppercase;
    border: 1px #ffffff solid;
    padding: 10px 25px;
    transition: 0.3s ease-in;
}

.white-border-button:hover {
    color: rgb(205, 161, 115);
}


@media (min-width: 600px) {
    .panel {
        order: 99;
    }
}

#panel {
    height: 90%;
}

.input:checked + .label + .panel {
    display: block;
}

.tab-1 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.4)
    ), url("../assets/images/first.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.tab-2 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.4)
    ), url("../assets/images/third.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.tab-3 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.4)
    ), url("../assets/images/fifth.JPG") no-repeat;
    background-size: cover;
    background-position: center center;
}

.tab-4 {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.4)
    ), url("../assets/images/forth.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

/*PHILOSOPHY-BLOCK*/
.philosophy-container {
    height: 70vw;
    position: relative;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*padding-bottom: 30%;*/
}

.philosophy-left-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    padding-right: 30px;
}

.philosophy-numbers-block {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    flex-wrap: wrap;
    opacity: 0;
    display: flex;
}

.philosophy-numbers-block .item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.philosophy-numbers-block .item:last-child {
    padding-right: 0;
}

.philosophy-numbers-block .item .number {
    display: flex;
    font-size: 3.5vw;
}

.philosophy-numbers-block .item .text {
    font-size: 1vw;
    padding: 0;
    font-family: "Muller Light";
}

.philosophy-right-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.1s linear;
    padding: 15px;
}

.philosophy-right-block .text {
    position: relative;
    display: block;
}

.philosophy-right-block .text:first-of-type {
    padding-bottom: 30px;
}

.philosophy-right-block .text:nth-of-type(1)::after {
    background-color: #cda173;
    width: 150px;
    content: '';
    height: 3px;
    display: block;
    position: absolute;
    opacity: 0.8;
    bottom: 7px;
    right: 10px;
}

.philosophy-right-block div {
    margin-top: 50px;
    /*margin-left: 15px;*/
}

.philosophy-right-block div:last-of-type {
    margin-top: 50px;
    /*margin-left: 0px;*/
    /*margin-left: 8px;*/
}

.philosophy-right-button-block {
    cursor: pointer;
    transition: 1s ease-in;
    padding: 250px 0;
}

.philosophy-right-button {
    text-transform: uppercase;
    border: 1px black solid;
    padding: 10px 25px;
    transition: 0.3s ease-in;
}

.philosophy-right-button:hover {
    background-color: black;
    color: rgb(205, 161, 115);
}

/*TEAM-BLOCK*/

.team-container {
    height: 80vh;
    display: flex;
    align-items: center;
}

.team-block {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.team-block-text {
    margin-right: 100px;
    margin-left: calc(20% + 20px);
}

.team-block .rev-block {
    top: 0;
}

.team-button {
    text-transform: uppercase;
    border: 1px black solid;
    padding: 10px 25px;
    transition: 0.3s ease-in;
}

.team-button:hover {
    background-color: black;
    color: rgb(205, 161, 115);
}

#team-block-header {
    position: relative;
    margin-left: 20%;
}

.team-block-header:after {
    background-color: #cda173;
    width: 105px;
    content: '';
    height: 8px;
    display: block;
    position: absolute;
    bottom: 5px;
    opacity: 0.8;
    z-index: -1;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

#animate-area {
    overflow: hidden;
    /*width: 100%;*/
    background-size: cover;
    background-image: url('../assets/images/team.jpg');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 35s linear infinite;
}

/*CHIEF_BLOCK*/

.chief-container {
    display: flex;
    /*min-height: 165vh;*/
}

.chief-image img {
    width: 100%;
}

.left-part-chief {
    flex: 1;
    padding-top: 30%;
}

.chief-links-block {
    display: flex;
    padding-left: calc(20% + 15px);
    flex-direction: column;
    padding-top: 50px;
}

.chief-link {
    padding-top: 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*line-height: 1.2vw;*/
}

.chief-link img, .social-icons img {
    width: 1.2vw;
    margin-right: 10px;
}

.chief-link h4 {
    margin: 4px;
    margin-right: 10px;
}

.right-part-chief {
    flex: 1;
    padding-top: 30%;
}

.right-part-chief .info-block {
    padding-right: 20%;
    margin: 0 50px;
    /*min-height: 60vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-part-chief .info-block:last-of-type {
    /*margin-top: 30vh;*/
}

/*FEEDBACK-BLOCK*/
.feedback-container {
    background-color: #cda173;
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
}

.inputs-container {
    display: flex;
    flex-direction: row;
}

.feedback-left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.feedback-input-block {
    padding-top: 10px;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
}

.feedback-right-part {
    flex: 1;
    display: flex;
}

textarea {
    resize: none;
}

#open-input {
    height: 1.2vw;
    margin: 0;
    width: 80%;
}

.feedback-input {
    transition: 1s ease-in;
    border: none;
    background-color: #9a7956;
    outline: none;
    color: #000000;
    width: calc(100% - 60px);
    line-height: 1.2vw;
    font-size: 1.1vw;
    padding: 10px;
    margin-top: 10px;
    font-family: "Muller Light";
}

.open-block {
    margin-top: 10px;
}

.height-auto {
    max-height: 500px !important;
    transition: max-height 2s ease-in;
}

.full {
    transition: 1s linear;
    min-height: calc(100% - 30px);
}

.feedback-input:last-of-type {
    margin-bottom: 0;
}

.feedback-input::placeholder {
    color: #000000;
}

.confirm-block {
    display: flex;
    overflow: hidden;
    max-height: 0;
    flex-direction: row;
}

.confirm-block .item {
    flex: 1;
    display: flex;
    align-items: center;
}

/*FOOTER-BLOCK*/

.footer {
    color: #ffffff;
    padding: 100px 0;
    margin: 0 10% 0 10%;
}

.gorizontal-line {
    position: relative;
    min-height: 1px;
    margin: 0;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    z-index: 2;
}

.gorizontal-line-short-top {
    position: relative;
    top: -65px;
    right: 29px;
    min-height: 1px;
    margin: 0;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 28px;
    height: 1px;
    z-index: 2;
}

.gorizontal-line-short-bottom {
    position: relative;
    bottom: -65px;
    right: 28px;
    min-height: 1px;
    margin: 0;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 28px;
    height: 1px;
    z-index: 2;
}

.gorizontal-line-top {
    position: relative;
    min-height: 1px;
    margin: 0;
    top: 10%;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    z-index: 2;
}

.gorizontal-line-bottom {
    position: relative;
    min-height: 1px;
    margin: 0;
    bottom: 10%;
    border: none;
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    z-index: 2;
}

.footer-info-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.left-part-footer, .right-part-footer {
    flex: 1;

}

.sub-head-label {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    text-transform: uppercase;
    color: #c1c1c1;
}

.sub-head-label {
    font-size: 1.8vw;
    padding: 60px 20px 20px;
}

.footer-info-block .item {
    flex: 1;
    padding: 20px;
}

.footer-info-block .item p {
    display: flex;
    flex-direction: column;
    color: #c1c1c1;
    margin: 0;
}

.footer-info-block h5 {
    margin-bottom: 2px;
}

.footer-button-block {
    display: flex;
    flex-direction: row;
}

.footer-button-block .item {
    flex: 1;
    padding: 20px;
}

.footer-button-block .button {
    color: #ffffff;
    text-transform: uppercase;
    border: 1px #ffffff solid;
    padding: 10px 25px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.footer-button-block .button:hover {
    background-color: black;
    color: rgb(205, 161, 115);
}

/*MENU-PAGE*/

.modaal-container {
    background: none !important;
}

.modaal-content-container {
    padding: 0 !important;
}

.open-menu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 212px);
    border: none;
}

.language-block {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFFFFF;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 120px;
}

.lang {
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s linear;
}

.lang:hover {
    color: #cda173;
    transform: scale(1.1);
}

.modalDialog .arrow-block {
    justify-content: flex-start;
}

.modalDialog .background-content {
    display: flex;
    justify-content: center;
}

.menu-links {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s linear;
    width: 19%;
}

.menu-links:hover {
    cursor: pointer;
    color: #cda173;
    /*transform: scale(1.1);*/
    /*transform-origin: center;*/
}

.social-icons-block {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.social-icons-block .social-icons {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    padding-left: calc(10% + 20px);
}

.close {
    background: url(../assets/icons/White/cross.svg);
    line-height: 25px;
    position: absolute;
    right: 30px;
    height: 24px;
    text-align: center;
    top: 25px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 9999;
}

.close:hover {
    outline: 1px #ffffff solid;
    border-radius: 50%;
}

.modalDialogMobile {
    display: none;
}

/*INTERESTS*/

.interests-container {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    justify-content: center;
    background-color: #ECECEC;
    z-index: -1;
}

.interests-left-part {
    padding-top: 5vw;
    flex: 1;
}

.interests-right-part {
    padding-top: 14vw;
    flex: 1;
}

.interests-description {
    /*padding: 0 15px;*/
    padding: 0 70px 0 15px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container > img {
    width: 40%;
    padding: 10% 30%;
}

/*STYLING BLOCKS FOR ANIMATIONS HEADERS*/

.header-label {
    opacity: 0;
    padding: 20px;
}

.rev-block {
    position: relative;
    z-index: 1;
    padding: 15px;
    font-family: "Muller ExtraBold";
}

.non-line {
    font-family: "Muller Medium";
}

.rev-block .non-line:after {
    height: 0 !important;
}

.rev-block span {
    color: #000000;
    text-transform: uppercase;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 0.8s;
    z-index: 0;
    padding: 0.4em 0;
}

.rev-block:after {
    z-index: 9999;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    opacity: 1;
    height: 100%;
    background-color: #cda173;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0.5s;
}

.rev-block span:after {
    background-color: #cda173;
    width: 130px;
    content: '';
    height: 8px;
    display: block;
    position: absolute;
    left: 15px;
    bottom: 5px;
    opacity: 0.8;
    z-index: -1;
}

.black > .rev-block span {
    color: white;
}

.philosophy-numbers-block .item .text:after,
.philosophy-numbers-block .item .number:after {
    width: 0 !important;
}


@keyframes rev-block {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

@keyframes appear-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*STYLING BLOCKS FOR ANIMATIONS BUTTONS*/

.rev-button {
    flex-wrap: nowrap;
    display: inline-block;
    display: -moz-inline-stack;
    position: relative;
    z-index: 1;
}

.buttons-container .rev-button {
    /*margin-bottom: 35px;*/
    margin: 0;
    width: 100%;
}

.white span {
    color: #ffffff !important;
    border: 2px #ffffff solid !important;
}

.gold span {
    background-color: #1b1b1b !important;
    color: #cda173 !important;
    border: 2px #cda173 solid !important;
}

.rev-button span {
    color: #000000;
    letter-spacing: 3px;
    display: flex;
    font-family: "Muller Bold", serif;
    text-transform: uppercase;
    font-size: 0.7vw;
    z-index: 0;
    animation: appear-text-button 0.0001s linear forwards;
    animation-delay: 1.4s;
    cursor: pointer;
    border: 2px black solid;
    padding: 1.2vw 3vw;
    white-space: nowrap;
    justify-content: center;
}

.rev-button:hover:after {
    animation: rev-button 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-iteration-count: 1;
}

.rev-button:after {
    cursor: pointer;
    z-index: 9999;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    opacity: 1;
    height: 100%;
    background-color: black !important;
}

.white:after {
    cursor: pointer;
    z-index: 9999;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    opacity: 1;
    height: 100%;
    background-color: #ffffff !important;
}

.gold:after {
    cursor: pointer;
    z-index: 9999;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    opacity: 1;
    height: 100%;
    background-color: #cda173 !important;
}

@keyframes rev-button {
    0% {
        top: 0;
        height: 0;
        width: calc(100%)
    }
    50% {
        top: 0;
        height: calc(3.1vw + 4px);
        width: calc(100%)
    }
    100% {
        top: 50%;
        height: 0;
        width: calc(100%)
    }
}

@keyframes appear-text-button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*STYLING BLOCKS FOR ANIMATIONS TABS*/

.rev-slide {
    flex-wrap: nowrap;
    display: flex;
    position: relative;
    display: -moz-inline-stack;
    z-index: 1;
}

.rev-slide:after {
    cursor: pointer;
    z-index: 9999;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    opacity: 1;
    height: 100%;
    background-color: #ffffff !important;
    animation: rev-slide 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}


@keyframes rev-slide {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 1vw;
    }
}

@media screen and (max-width: 1000px) {
    #about-header,
    #about-black-header,
    #panel-header,
    #philosophy-header,
    #team-block-header,
    #footer-header,
    #interesting-header,
    #map-header,
    #office-header,
    #welcome-header {
        font-size: 36px;
    }
}

@media screen and (max-width: 850px) {
    .interests-description {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
        /*max-width: 100%;*/
        /*width: 101%;*/
        font-size: 16px;
    }

    html {
        width: 101%;
    }

    .center-line,
    .left-line,
    .right-line,
    .gorizontal-line,
    .background-image,
    .gorizontal-line-bottom,
    .gorizontal-line-top,
    .map-container,
    .services-block,
    .circle,
    .chief-links-block,
    .right-part-chief,
    .feedback-container,
    .language-block,
    .language,
    .video-container {
        display: none
    }

    h1, h2, h3, h4, h5,
    .header-label,
    .philosophy-left-block-header,
    .chief-link {
        text-transform: uppercase;
        text-align: center;
    }

    .header-label, .rev-block, #philosophy-header {
        max-width: 100%;
        text-align: center;
        margin: 50px 0;
    }

    .rev-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: table;
    }

    .rev-block span {
        display: inline-block;
        display: -moz-inline-stack;
        padding: 0;
    }


    .rev-block span:after {
        left: calc(50% - 65px);
    }


    .rev-button {
        display: flex;
        margin: 20px 0;
        width: 100%;
    }

    .rev-button:hover:after {
        animation: none;
    }

    .buttons-container {
        width: 100%;
        padding: 30px 0 !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .rev-button a {
        width: 100%;
    }

    .rev-button span {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 20px 42px !important;
        font-size: 12px;
        line-height: 12px;
    }

    .mobile-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .background-image-mobile {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-size: cover;
        background-image: url("../assets/images/forth.jpg");
    }

    .background-image-mobile:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: -4px;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 0;
    }

    .mobile-logo-block {
        width: 100%;
        z-index: 5;
    }

    .mobile-arrow-block, .mobile-menu-block {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }

    .menu-label {
        transform: rotate(0);
        position: relative;
        text-transform: uppercase;
        flex-direction: column;
    }

    .menu-icon {
        width: 40px;
        height: 40px;
    }

    .menu-icon .bar {
        margin-top: 0;
        background: #ffffff;
    }

    .burger {
        height: 200px;
    }

    .arrow-block {
        display: none;
    }

    .burger-block {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
    }

    .menu-label-block {
        width: 100%;
        position: absolute;
        align-items: flex-start;
    }

    .menu-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-indent: 100%;
        overflow: hidden;
    }

    .menu-icon {
        position: unset;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: initial;
        padding: 0;
        justify-content: center;
    }

    .anim-about {
        position: static;
        padding-bottom: 25px;
    }

    .left-part-about {
        display: block;
        top: 0;
    }

    .right-part-about {
        display: block;
        text-align: justify;
        padding: 0;
    }

    .right-part-about .info-block {
        top: 0;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tabs {
        height: 0;
        flex-wrap: nowrap;
        background: inherit;
        position: relative;
    }

    .tabs-prev {
        height: 100px;
        width: 50px;
        border-radius: 0 100px 100px 0;
        background-color: white;
        opacity: 0.3;
        position: absolute;
        top: 35vh;
        left: 0;
        cursor: pointer;
        z-index: 999;
    }

    .tabs-next {
        height: 100px;
        width: 50px;
        border-radius: 100px 0 0 100px;
        background-color: white;
        opacity: 0.3;
        position: absolute;
        top: 35vh;
        right: 0;
        cursor: pointer;
        z-index: 999;
    }

    .label {
        height: 10px;
        overflow: hidden;
        padding: 0;
        border-left: 1px black solid;
        /*border-right: 1px black solid;*/
    }

    .label span {
        display: none;
    }

    .input:checked + .label {
        background-color: #cda173;
        border: none;
    }

    .label:first-of-type, .label:last-of-type {
        margin: 0;
        border: 0;
    }

    .label:first-of-type {
        border: none;
    }

    .panel {
        min-height: auto;
        flex-direction: column;
        height: 500px;
    }

    .panel .rev-block {
        margin: 55px 0;
    }

    #panel .rev-block {
        top: 0;
    }


    .white-background {
        display: block;
        height: 550px;
        background-color: black;
    }

    .left-part-slide {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .right-part-slide {
        display: flex;
        justify-content: center;
        position: relative;
        top: 520px;
        opacity: initial;
        background: none;
        padding: 0 25px;
        text-align: justify;
    }

    .right-part-slide .info-block {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #panel-subheader {
        min-height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .philosophy-container {
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        margin: 0;
        padding-bottom: 0;
    }

    .philosophy-left-block {
        padding-right: 0;
    }

    .philosophy-right-block, .philosophy-right-block div:last-of-type, .philosophy-right-block div {
        display: block;
        text-align: justify;
        margin: 0;
    }

    .philosophy-right-block .info-block {
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .philosophy-numbers-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .philosophy-numbers-block .item {
        max-width: initial;
        padding-top: 70px;
        padding-right: 0;
    }

    .philosophy-numbers-block .item:first-of-type {
        padding: 0;
    }

    .philosophy-numbers-block .item .number {
        display: flex;
        justify-content: center;
        font-size: 60px;
    }

    .philosophy-numbers-block .item .text {
        font-size: 16px;
    }


    .team-container {
        height: auto;
        display: flex;
    }

    #animate-area {
        background: none;
    }

    #team-block-header {
        width: 100%;
        margin: 50px 0 25px;
    }

    .team-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: inherit;
    }

    .team-block-text {
        margin: 0;
        padding: 25px;
        text-align: justify;
    }

    .team-block-text .rev-button span {
        border: none !important;
    }

    .chief-container {
        min-height: auto;
        flex-direction: column;
    }

    .left-part-chief {
        padding-top: 0;
    }

    .footer {
        margin: 0;
        padding: 35px 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-info-block {
        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .sub-head-label {
        justify-content: center;
        font-size: 24px;
        padding: 20px 0 0 0;
        color: #cda173;
    }

    .footer-button-block .item:first-of-type {
        display: none;
    }

    .background-content {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    .menu-links {
        width: 50%;
        text-align: center;
    }

    .social-icons {
        padding-top: 30px;
    }

    .social-icons-block {
        width: 100%;
        position: absolute;
        bottom: 0;
        justify-content: center;
    }

    .social-icons-block .social-icons {
        padding: 0;
    }

    .more-button {
        text-align: center;
    }

    .interests-description > span {
        margin-bottom: 25px;
    }

    .interests-description {
        padding: 35px 15px;
        text-align: justify;
    }

    .interests-container,
    .interests-left-part,
    .interests-right-part {
        flex-direction: column;
        padding: 0 !important;
    }

    .footer-button-block .item {
        padding: 0;
    }

    .burger-block > .logo-container {
        display: none;
    }

}
