ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    width: 100%;
    padding: 0 10%;
    background-color: white;
}

.list-container > ul > li {
    position: relative;
    margin-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
}

.list-content {
    flex: 1;
    padding-left: 15px;
}

.list-content > ul {
    padding-top: 8px;
}

.list-content > form > input,
.list-content > form > button {
    display: block;
}

.list-item {
    line-height: 50px;
    text-transform: uppercase;
    flex: 1;
    padding-left: 15px;
}

.list-option {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-option > div {
    position: relative;
    height: 0px;
}

.list-option-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-option-title > div {
    display: flex;
}

.list-option-title > div:nth-child(1) {
    margin-right: 45px;
}

.list-option-title > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
}

.list-option-title > div > img {
    width: 35px;
    height: 35px;
}

.list-option input {
    cursor: pointer;
}

.list-option input[type="checkbox"]:checked + .list-option-title > div:nth-child(1) > img {
    background-image: url(../assets/icons/Black/checked.png);
    background-size: 35px 35px;
}

.checkmark {
    visibility: hidden;
}

.input-text-field {
    max-width: 350px;
    width: calc(100% - 75px);
    height: 50px;
    background-color: lightgray;
    border: none;
    font-size: 14pt;
    padding: 0 30px 0 30px;
    margin-bottom: 10px;
}

.long-input-field {
    width: calc(100% - 75px);
    max-width: 450px;
}

.input-textarea {
    max-width: 450px;
    width: calc(100% - 75px);
    height: 190px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: 14pt;
    background-color: lightgray;
    resize: none;
}

.measurement {
    margin-left: 20px;
}

.price-field {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 36pt;
    z-index: 1;
}

.price {
    padding-left: 10px;
    font-weight: bolder;
    white-space: nowrap;
}

.example-button {
    position: relative;
    top: -10px;
    margin-left: 75px;
    font-size: 12pt;
    color: #CDA173;
    border: none;
    background-color: white;
    cursor: pointer;
}

.example-button:before {
    margin-right: 8px;
    content: url(../assets/icons/Black/example-button-arrow.png);
}

.underline {
    position: absolute;
    bottom: 2px;
    width: 180px;
    height: 15px;
    background-color: #CDA173;
    z-index: -1;
}

.small-padding-top {
    padding-top: 18px;
}

.bold {
    font-weight: bolder;
}

/*MYSTYLES*/

.info-block {
    top: 0 !important;
    margin-top: 80px;
}

.first-monitor {
    background: #ffffff;
    min-height: calc(100vh - 210px);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    color: #000000;
    position: relative;
    z-index: 1;
}

.welcome-info {
    height: calc(100% - 200px);
    border: none;
}

.left-part-about {
    top: 0;
}

.rev-block {
    max-width: 90%;
}

@media screen and (max-width: 850px) {
    .welcome-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {

    .first-monitor {
        padding: 0;
        min-height: auto;
    }

    .list-item, .list-content {
        min-width: auto;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
    }

    .list-container {
        padding: 0 30px;
    }

    .list-content {
        justify-content: start;
        width: 100%;
        flex-direction: column;
    }

    .list-item {
        line-height: 20px;
        margin-bottom: 20px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .list-options {
        margin-top: 10px;
    }

    .list-option {
        align-items: flex-start;
    }

    .list-option-title {
        line-height: 20px;
    }

    .list-container > ul > li {
        font-size: 12pt;
        white-space: normal;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .sizes {
        display: flex;
        align-items: center;
    }

    .price-field {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30pt;
    }

    .list-content > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-textarea {
        height: 100px;
    }

    .info-block {
        margin-top: 0;
        margin-bottom: 60px;
    }

    .left-part-about {
        display: contents;
        top: 0;
    }

    .arrow-block {
        display: none;
    }

    .burger-block {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
    }

    .burger-black {
        margin: 20px 0;
        height: 300px;
        width: 100px;
        background-position: center center;
        background: url("../assets/logos/Zrobym_logo_White.svg") no-repeat;
    }

    .menu-label-block {
        width: 100%;
        position: absolute;
    }
}
