.project-page {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -110px;
}

.project-header {
    font-size: 3.6vw;
}

.project-page-left-part {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-page-right-part {
    position: relative;
    display: flex;
    flex: 1;
}

.project-container {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    color: #000000;
    position: relative;
    z-index: 1;
    margin-left: 20%;
}

.project-left-part {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.project-right-part {
    width: 50%;
    padding: 15px;
}

.arrow-block {
    z-index: 2;
}

.interests-container {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    justify-content: center;
    background-color: #ECECEC;
    z-index: -1;
}

.interests-left-part {
    padding-top: 80px;
    flex: 1;
}

.interests-right-part {
    padding-top: 180px;
    flex: 1;
}

.interests-description {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.interests-container .rev-button span {
    padding: 14px 10px;
}

.arrow-block {
    position: absolute;
    width: 100vw;
}

.project-list {
    margin: 40px 0 130px;
}

.project {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px 5px 0;
    background: #F7F7F7;
}

.project:hover {
    background: #F0F0F0;
}

.project-id {
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-name {
    flex: 2;
}

.project-square {
    flex: 2;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
}

@media (max-width: 450px) {
    body {
        font-size: 16px;
    }

    .project-header {
        font-size: 32px;
    }

    .project-page {
        flex-direction: column;
    }

    .project-page-left-part {
        padding-top: 110px !important;
    }

    .project-left-part {
        padding-top: 0 !important;
    }

    .project-container {
        margin: 0;
        text-align: justify;
    }

    .project-header {
        font-size: 32px;
        margin: 50px 0 0 !important;
    }

    .rev-block {
        padding: 0;
        margin: 15px 0 !important;
        width: 100%;
    }

    .interests-container,
    .interests-left-part,
    .interests-right-part,
    .buttons-container {
        flex-direction: column;
        padding: 0 !important;
    }

    .interests-description {
        padding: 35px 15px;
        text-align: justify;
    }

    .buttons-container {
        align-items: center;
    }
}
