.project-image {
    background: url("../../assets/images/project-page/flat-photos.png") no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
}

.project-page {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -110px;
}

.project-header {
    font-size: 3.6vw;
}

.project-page-left-part {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-page-right-part {
    position: relative;
    display: flex;
    flex: 1;
    height: inherit;
}

.project-container {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    color: #000000;
    position: relative;
    z-index: 1;
    margin-left: 20%;
}

.project-left-part {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.project-right-part {
    width: 50%;
    padding: 15px;
}

.arrow-block {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.project-list {
    margin: 40px 0 130px;
}

.project {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px 5px 0;
    background: #F7F7F7;
}

.project:hover {
    cursor: pointer;
    background: #F0F0F0;
}

.project-id {
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-name {
    flex: 2;
}

.project-square {
    flex: 2;
    display: flex;
    justify-content: center;
}

.icon.facebook-icon-black {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
}

@media (max-width: 450px) {
    body {
        font-size: 16px;
    }

    .project-header {
        font-size: 32px;
    }

    .project-page {
        flex-direction: column;
    }

    .project-page-left-part {
        padding-top: 110px !important;
        margin-top: 0 !important;
    }

    .project-left-part {
        padding-top: 0 !important;
        padding-bottom: 30px !important;
    }

    .project-left-part > p {
        text-align: justify;
        padding-bottom: 30px !important;
    }

    .project-left-part > img {
        width: 100% !important;
        margin-top: 75px !important;
    }

    .project-container {
        margin: 0 !important;
        text-align: justify;
    }

    .project-list {
        margin-bottom: 50px;
    }

    .project-header {
        font-size: 32px;
        margin: 50px 0 0 !important;
    }

    .project-image {
        height: 253rem;
    }

    .rev-block {
        padding: 0;
        margin: 15px 0 !important;
        width: 100%;
    }
}
