.first-monitor {
    background: #ffffff;
    /*min-height: calc(100vh - 210px);*/
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    color: #000000;
    position: relative;
    z-index: 1;
}

.welcome-info {
    height: calc(100% - 200px);
    border: none;
}

.left-part-about {
    top: 0;
}

.right-part-about {
    padding-bottom: 50px
}

.info-block {
    top: 0 !important;
}

.info-block:first-child {
    margin-top: 80px;
}


.rev-block {
    max-width: 90%;
}

.road-mobile{
    display: none;
}

.road {
    display: flex;
}

.road-image {
    height: auto;
    width: 100%;
}

.road-label {
    position: absolute;
    left: calc(10% + 20px);
    color: #FFFFFF;
}

@media screen and (max-width: 450px) {
    .rev-block {
        margin: 50px;
    }

    .first-monitor {
        padding: 0;
    }

    .welcome-info {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .list-item, .list-content {
        min-width: auto;
        padding: 0;
    }

    .info-block {
        margin: 0!important;
        text-align: center;
    }

    .left-part-about {
        display: contents;
        top: 0;
    }

    .right-part-about{
        padding: 0;
    }

    .road{
        padding-top: 50px;
    }

    .road-mobile{
        display: flex;
    }

    .road{
        display: none;
    }

    .arrow-block {
        display: none;
    }

    .burger-block {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .burger-black {
        margin: 20px 0;
        height: 300px;
        width: 150px;
        background-position: center center;
        background: url("../../assets/logos/Zrobym_logo_White.svg") no-repeat;
    }

    .menu-label-block {
        width: 100%;
        position: absolute;
    }
}
