.first-monitor {
    background: #ffffff;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    color: #000000;
    position: relative;
    z-index: 1;
}

.welcome-info {
    height: calc(100% - 200px);
    border: none;
}

.left-part-about {
    top: 0;
}

.right-part-about {
    padding-bottom: 50px
}

.info-block {
    top: 0 !important;
}

.info-block:first-child {
    margin-top: 80px;
}

.rev-block {
    max-width: 90%;
}

.road-mobile {
    display: none;
}

.road {
    display: flex;
}

.road-image {
    height: auto;
    width: 100%;
}

.black-background{
    min-height: 20px;
    background-color: #000000;
}

#close-area{
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: none;
    outline: 0;
}

@media screen and (max-width: 450px) {
    .rev-block {
        margin: 10px;
    }

    .first-monitor {
        padding: 0;
    }

    .welcome-info {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .info-block {
        margin: 0 !important;
        text-align: center;
    }

    .left-part-about {
        display: contents;
        top: 0;
    }

    .right-part-about {
        padding: 0;
    }

    .road {
        padding-top: 50px;
        display: none;
    }

    .road-mobile {
        display: flex;
        padding-top: 50px;
    }

    .arrow-block {
        display: none;
    }

    .burger-block {
        display: none;
    }

    .first-monitor h1 {
        padding-top: 0;
    }

    .menu-label-block {
        width: 100%;
        height: 100px;
        min-height: 0;
        position: unset;
    }

    .menu-label {
        transform: rotate(0);
        color: white;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: unset;
    }

    .menu-icon {
        position: unset;
    }

    .menu-icon .bar {
        margin-top: 0;
        background: black;
    }
}
